<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bidding Bro's</title>
  </head>
  <body class="bg-info p-2" style="--bs-bg-opacity: .3;">
    <nav class="nav">
    <a class="nav-link active" aria-current="page" href="#">BIDDING SYSTEMS</a>
    <a class="nav-link" href="#">home</a>
    <a class="nav-link" href="#">about</a>
    <a class="nav-link" href="#">active bids</a>
  </nav>

  

    <h1 >About our website</h1>
    <h3 class="text-black-50 text-opacity-20">This website is a place where the price of a product or service is determined by the winning bid. The auction site allows the user to name their own price for any posted products or services within a certain time frame. The price rises depending on the bidding people.</h3>
    <!-- Keep align attribute value as right -->
    <img align="right" src="image2.jpg" height=500 width =400 alt="loading">

<hr>
<h2>Simple steps to be followed for creating or participating in a bid</h2>
<h3>for creating a new bid</h3>
<ul>
  <li>go to home page </li>
  <li>on the right side there will be button click on create bid</li>
  <li>enter all the required information</li>
<li>you will get a notification if anyone wish to participate in your bid you will get the notification of the list of participants </li>
</ul>
<h3>to participate in a bid</h3>
<ul>
  <li>go active bid page </li>
  <li>you will get a table of bids</li>
  <li>on the right you have an option participate in a bid</li>
  <li>click on the button and provide the required information</li>
  <li>if you are approved by the tenderer you will get a notification</li>
<li>you will get a notification if the tenderer approves your requirements</li>
</ul>
<hr>

<br>
<br>
<br>
<div class="container">
<h2 >Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="image5.png" alt="K.Charitha sree" style="width:100%">
      <div class="container">
        <h2>K.Charitha sree</h2>
        <p class="title">Developer</p>
        <p>2100030213@kluniversity.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="image3.jpg"  height=250 width =300 alt="Ch.Vinay" style="width:100%">
      <div class="container">
        <h2>Ch.Vinay</h2>
        <p class="title">Developer</p>
        <p>2100032064@kluniversity.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="image4.jfif"alt="G.Harish" style="width:100%">
      <div class="container">
        <h2>G.Harish</h2>
        <p class="title">Developer</p>
        <p>2100031942@kluniversity.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>