<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/style.css')}}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Bidding Bro's</title>
<body class="bg-info p-2" style="--bs-bg-opacity: .3;" >

 <header>
  <!-- Fixed navbar -->
  <nav class="nav" >
  <a class="nav-link active" aria-current="page" href="#">BIDDING SYSTEMS</a>
  <a class="nav-link" href="#">home</a>
  <a class="nav-link" href="#">about</a>
  <a class="nav-link" href="#">active bids</a>
  <form class="d-flex" role="search">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

</nav>
</header>

 
    
         <div class="row mt-5">
             <div class="col-md-8">
                 <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">S.NO</th>
                          <th scope="col">Name of Company</th>
                          <th scope="col">Project</th>
                          <th scope="col">Tender Result</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Marvel</td>
                          <td>VFX Animation</td>
                          <td>VisualX</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Detective Comics</td>
                          <td>3D Motion</td>
                          <td>Santa Monica Studios</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Square Enix</td>
                            <td>Music Composition</td>
                          <td>Avalanco Studios</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>infosys</td>
                          <td>captcha</td>
                        <td>Baroda Rayon</td>
                      </tr>
                      <tr>
                      <th scope="row">4</th>
                      <td>musix</td>
                        <td>advertisement jingles</td>
                      <td>fox Studios</td>
                    </tr>
                    <tr>
                    <th scope="row">5</th>
                    <td>Kwality Pharma</td>
                      <td>Music Composition</td>
                    <td>Suumaya Indust.</td>
                  </tr>
  <tr>
                    <th scope="row">5</th>
                    <td>Animation Studio
</td>
                      <td>Craft Some Holiday Animations.</td>
                    <td>Upwork Inc.</td>
                  </tr>
  <tr>
                    <th scope="row">5</th>
                    <td>Kwality Pharma</td>
                      <td>Music Composition</td>
                    <td>Fiverr</td>
                  </tr>
  <tr>
                    <th scope="row">5</th>
                    <td>HQSoftware</td>
                      <td>A Smart Security Surveillance System.</td>
                    <td>Freelancer</td>
                  </tr>
  <tr>
                    <th scope="row">5</th>
                    <td>SimpliSafe</td>
                      <td>Android Task Monitoring.</td>
                    <td>Behance.</td>
                  </tr>
                      </tbody>
                 </table>

             </div>

             <div class="col-md-3">
                 <div class="card">
                     <div class="card-body" style="background-color:#C8A2C8;">
                         <p>participate in a bid</p>
                         <button class="btn btn-danger btn-block">participate</button>
                     </div>

                 </div>

             </div>

         </div>
     </div>



<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>