{% extends "template.html" %}
{% block content %}
<br>    

   <div class="container" style="padding-top: 100px;">
       <div class="row">
           <div class="col-md-8">
            <img style="position: absolute; z-index: -2; width: 50%; padding-left: 100px; padding-top: 10px;" src="static/assets/img/pickachu.gif">
               <h1 class="text-dark " style="font-size:50px">We Make Your<br> Bidding Process<br> Easier
                   Than Ever</h1>   
           </div>

           <div class="col-md-4">
               <div class="card mt-100">
                   <div class="card-body">
                    <class="<button type=""></button>"
                    <form class="form"method="post" action="/login">
                      <label>Email</label><br>
                      <input type="username" name="lun" class="form-control" name="email"><br>
                      <label>Password</label><br>
                      <input type="text" name="lpd" class="form-control"><br><br>
                      <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                  </form>

                   </div>

               </div>

           </div>

       </div>


   </div>

{% endblock %}
